$white: #fff;
$black: #000;

// add the $colors map here (2 dimensional map)
//pretty
$colors: (
  'gray':(
  '25': #fcfcfd,
  '50': #f9fafb,
  '100': #f2f4f7,
  '200': #e4e7ec,
  '300': #d0d5dd,
  '400': #98a2b3,
  '500': #667085,
  '600': #475467,
  '700': #344054,
  '800': #182230,
  '900': #101828,
  '950': #0c111d),
  'brand':(
  '25': #fcfaff,
  '50': #f9f5ff,
  '100': #f4ebff,
  '200': #e9d7fe,
  '300': #d6bbfb,
  '400': #b692f6,
  '500': #9e77ed,
  '600': #7f56d9,
  '700': #6941c6,
  '800': #53389e,
  '900': #42307d,
  '950': #2c1c5f),
  'error':(
    '25': #FFFBFA,
    '50': #FEF3F2,
    '100': #FEE4E2,
    '200': #FECDCA,
    '300': #FDA29B,
    '400': #F97066,
    '500': #F04438,
    '600': #D92D20,
    '700': #B42318,
    '800': #912018,
    '900': #7A271A,
    '950': #55160C),
  'warning':(
    '25': #FFFCF5,
    '50': #FFFAEB,
    '100': #FEF0C7,
    '200': #FEDF89,
    '300': #FEC84B,
    '400': #FDB022,
    '500': #F79009,
    '600': #DC6803,
    '700': #B54708,
    '800': #93370D,
    '900': #7A2E0E,
    '950': #4E1D09),
  'success':(
    '25': #F6FEF9,
    '50': #ECFDF3,
    '100': #DCFAE6,
    '200': #ABEFC6,
    '300': #75E0A7,
    '400': #47CD89,
    '500': #17B26A,
    '600': #079455,
    '700': #067647,
    '800': #085D3A,
    '900': #074D31,
    '950': #053321)
);

// $color-level: ($colors, $levels:$value) {
//   25: #fcfcfd,
//   50: #f9fafb,
//   100: #f2f4f7,
//   200: #e4e7ec,
//   300: #d0d5dd,
//   400: #98a2b3,
//   500: #667085,
//   600: #475467,
//   700: #344054,
//   800: #182230,
//   900: #101828,
//   950: #0c111d,
// }


// $levels: (
      // 25: #fcfaff,
      // 50: #f9f5ff,
      // 100: #f4ebff,
      // 200: #e9d7fe,
      // 300: #d6bbfb,
      // 400: #b692f6,
      // 500: #9e77ed,
      // 600: #7f56d9,
      // 700: #6941c6,
      // 800: #53389e,
      // 900: #42307d,
      // 950: #2c1c5f,
//     ),